.container {
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 23%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 16px;
}

.train-card {
  background-color: #f9f9f9;
}

.add-train-card {
  background-color: #e9f7fe;
}

.card form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 8px;
}

.form-group label {
  margin-bottom: 4px;
  font-weight: bold;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
  margin-right: 220px;
}

.card form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.card form button:hover {
  background-color: #0056b3;
}

.card .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card .button-container button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 48%;
}

.card .button-container .update-button {
  background-color: #28a745;
}

.card .button-container .update-button:hover {
  background-color: #218838;
}

.card .button-container .delete-button {
  background-color: #dc3545;
}

.card .button-container .delete-button:hover {
  background-color: #c82333;
}
