body {
    background-color: #121111;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.heading {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 0px; 
}

.heading h1 {
    color: #ffffff; 
    font-size: 2em;
    margin: 0; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
