body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  color: #ffffff;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
}

.app-header {
  display: flex;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-header .left {
  flex: 1;
  padding: 20px;
}

.registration-form {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1px;
  max-width: 300px; 
  width: 200%;
}

.registration-form h2 {
  margin-bottom: 15px;
  font-size: 15px; 
  color: #333;
  text-align: center;
}

.registration-form .form-group input {
  border: none;
  border-bottom: 2px solid #8a9da6;
  /* border-left:  2px solid #8a9da6; */
  background: none;
  outline: none;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

.submit-button {
  display: inline-block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #2898bd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0eb6d8;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #111111;
  background: none;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  border-bottom: 2px solid #007bff;
  box-shadow: none;
}

.form-group label {
  margin-bottom: 5px;
  color: #d2d8da;
  text-align: left;
}
